header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

nav {
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}

.redes a {
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}

.redes {
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 2vw;
}

.icone-redes {
  margin-left: 4px;
}

nav p {
  position: relative;
  cursor: pointer;
  margin-top: 4px;
}

.redes p {
  position: relative;
  cursor: pointer;
  margin-top: 4px;
}

p::after {
  content: "";
  width: 0%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}

header p:hover::after {
  width: 100%;
}

.redes p:hover::after {
  width: 100%;
}

.border-header {
  height: 60px;
  border-top: 4px solid rgba(46, 25, 131, 0.8);
}

.border-header-radius {
  float: right;
  width: 100%;
  height: 180px;
  margin-top: 4px;
  border-top: 4px solid rgba(255, 255, 255, 0.2);
  border-right: 4px solid rgba(255, 255, 255, 0.2);
  border-radius: 0px 200px 0px 0px;
  -webkit-border-radius: 0px 200px 0px 0px;
  -moz-border-radius: 0px 200px 0px 0px;
}

.section-border-header {
  display: flex;
  transform: translate(3vw);
}

.app {
  display: none;
}

.app button {
  margin-top: 4px;
}

@media screen and (max-width: 600px) {
  header {
    display: none;
  }

  .app {
    display: flex;
    margin-left: 3vw;
  }

  .redes-mobile {
    display: flex;
    width: 80vw;
    align-items: center;
    justify-content: flex-end;
    margin-left: 6vw;
  }

  .redes-mobile a {
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87);
  }

  .border-header-radius {
    float: right;
    width: 100%;
    height: 180px;
    margin-top: 4px;
    border-top: 4px solid rgba(255, 255, 255, 0.2);
    border-right: 4px solid rgba(255, 255, 255, 0.2);
    border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
  }

  .menu-container {
    position: absolute;
    width: 90vw;
    margin-top: 60px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.2);

    color: white;
    font-size: 14px;
    transform: translateX(-200%);
    transition: 0.3s ease;
  }

  .menu-container p {
    padding: 10px;

    align-items: center;
    justify-content: center;
    display: flex;
  }

  .menu-container.open {
    transform: translateX(0);
  }

  .menu-toggle {
    display: flex;
    width: auto;
    height: auto;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  header {
    display: none;
  }

  .app {
    display: flex;
    margin-left: 3vw;
  }

  .redes-mobile a {
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87);
  }

  .redes-mobile {
    width: 80vw;
    align-items: center;
    justify-content: space-around;
    display: flex;
    margin-left: 6vw;
    font-size: 18px;
  }

  .menu-container {
    position: absolute;
    width: 72vw;
    margin-top: 60px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.2);

    color: white;
    font-size: 16px;
    transform: translateX(-200%);
    transition: 0.3s ease;
  }

  .menu-container p {
    padding: 10px;

    align-items: center;
    justify-content: center;
    display: flex;
  }

  .menu-container.open {
    transform: translateX(0);
  }

  .menu-toggle {
    display: flex;
    width: auto;
    height: auto;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}
