header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

a {
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}

.icone-redes {
  margin-left: 4px;
}

p {
  position: relative;
  cursor: pointer;
}

p::after {
  content: "";
  width: 0%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}

p:hover::after {
  width: 100%;
}

nav {
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.redes {
  width: 23vw;
  display: flex;
  align-items: center;
  margin-right: 2vw;
}

.border-header {
  height: 60px;
  width: 80%;
  border-top: 4px solid rgba(46, 25, 131, 0.8);
}

.border-header-radius {
  float: right;
  width: 20%;
  border-top-width: 50px;
  height: 180px;
  border-top: 4px solid rgba(46, 25, 131, 0.8);
  border-right: 4px solid rgba(46, 25, 131, 0.8);
  border-radius: 0px 200px 0px 0px;
  /* -webkit-border-radius: 0px 200px 0px 0px;
  -moz-border-radius: 0px 200px 0px 0px; */
}

.section-border-header {
  display: flex;
  margin-left: 2vw;
}
