h1 {
  margin-top: 20px;
  margin-left: 60px;
}

.projects {
  display: grid;
  width: 100%;
  height: 100vh;

  place-items: center;
}

.project-list {
  display: flex;
  width: 90%;
  height: 80%;

  align-items: center;
  justify-content: space-between;

  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 25px;
}

.project-list-container {
  width: 200px;
  height: 80%;

  margin-left: 10px;
  margin-right: 10px;

  background-color: black;
  border-radius: 15px;
}

.image {
  height: 50%;
  margin: 10px;

  background-color: gray;
  border-radius: 15px;
}

.language {
  display: flex;
  padding-right: 5px;

  align-items: center;
  justify-content: flex-end;
}

.icons-project {
  margin-left: 10px;
}

@media screen and (max-width: 600px) {
  h1 {
    margin-top: 20px;
    margin-left: 60px;
    font-size: 28px;
  }

  .projects {
    display: grid;
    width: 100%;
    height: 100vh;

    place-items: center;
    grid-template-columns: 1fr;
  }

  .project-list {
    display: grid;
    width: 80%;
    height: 80%;

    align-items: center;
    justify-content: space-between;

    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
  }

  .project-list-container {
    width: 75vw;
    height: 200px;

    margin: 10px;

    background-color: black;
    border-radius: 15px;
  }

  .image {
    height: 70%;
    margin: 10px;

    background-color: gray;
    border-radius: 15px;
  }

  .language {
    display: flex;
    padding-right: 5px;

    align-items: center;
    justify-content: flex-end;
  }

  .icons-project {
    margin-left: 10px;
  }
}
