.curriculum-container {
  display: grid;
  width: 100%;
  height: 90vh;

  place-items: center;
  grid-template-columns: 1fr 1fr;
}

.h1-project {
  margin-left: 70px;
}

.h1-carer {
  margin-right: 100px;
}

.topic {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: -20px;
}

.curriculum-container p {
  margin-left: 6px;
  margin-right: 6px;
}

.curriculum {
  width: 80%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 25px;
  overflow-y: hidden;
  transition: 200ms linear;
}

.curriculum:hover {
  transform: scale(1.1);
}

.image-CV {
  width: 100%;
  height: 80%;
  background-image: url("/cv.svg");
  background-size: cover;
  background-position: start;
}

.download-container {
  width: 100%;
  height: 20%;
  color: rgba(255, 255, 255, 0.87);
}

.download {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: center;
}

.download p {
  margin-right: 10px;
  text-decoration: none;
}

.career {
  display: flex;
  width: 80%;
  height: 80%;

  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 25px;
}

.divide {
  width: 8px;
  height: 90%;
  border-radius: 100px;

  background-color: rgba(255, 255, 255, 0.4);
}

.dash-container {
  width: 50%;
}

.dash-container-reverse {
  width: 50%;
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
}

.dash {
  width: 50px;
  height: 4px;

  background-color: rgba(255, 255, 255, 0.4);
}

.container-text {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}

.container-text-reverse {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .curriculum-container {
    display: grid;
    width: 100%;
    height: 60vh;

    font-size: 16px;

    place-items: center;
    grid-template-columns: 1fr;
  }
  .career {
    display: none;
  }
}
