footer {
  display: flex;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}

.redes-footer {
  display: flex;
  width: 30%;
  margin: 10px;
  align-items: center;

  justify-content: space-between;
}

.redes-footer a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}

.arrow-up {
  position: absolute;

  margin-top: -100px;
  margin-left: 95%;
  font-size: 50px;

  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .arrow-up {
    position: absolute;

    margin-top: -50px;
    margin-left: 89%;
    font-size: 40px;
  }

  footer {
    display: none;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .arrow-up {
    position: absolute;

    margin-top: -90px;
    margin-left: 90%;
    font-size: 40px;
  }
}
