* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
:root {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  font-weight: 700;
  height: 100%;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background: #6253a2d9;
}
